@model UrbanRefuge.Web.ViewModels.RefugeResourceViewModel
@using UrbanRefuge.Web.ViewModels

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Refuge Resource</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ResourceLanguage1.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResourceLanguage1.Name" class="form-control" />
                <span asp-validation-for="ResourceLanguage1.Name" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Arabic Name</label>
            <div class="col-md-10">
                <input asp-for="ResourceLanguage2.Name" class="form-control rtl" />
                <span asp-validation-for="ResourceLanguage2.Name" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Posistion.Latitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Posistion.Latitude" class="form-control" />
                <span asp-validation-for="Posistion.Latitude" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Posistion.Longitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Posistion.Longitude" class="form-control" />
                <span asp-validation-for="Posistion.Longitude" class="text-danger" />
            </div>
        </div>

       <div class="form-group">
            <label asp-for="PrimaryType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PrimaryType" class="form-control" asp-items="Html.GetEnumSelectList<ResourceTypes>()"></select>
            </div>
        </div>

        <div class="form-group">
                <label asp-for="Types" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Types" multiple class="form-control" asp-items="Html.GetEnumSelectList<ResourceTypes>()"></select>
                </div>
            </div>

        <div class="form-group">
            <label asp-for="ResourceLanguage1.Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ResourceLanguage1.Address" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ResourceLanguage1.Address" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Arabic Address</label>
            <div class="col-md-10">
                <textarea asp-for="ResourceLanguage2.Address" class="form-control rtl" rows="4"></textarea>
                <span asp-validation-for="ResourceLanguage2.Address" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ResourceLanguage1.Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResourceLanguage1.Phone" class="form-control" />
                <span asp-validation-for="ResourceLanguage1.Phone" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ResourceLanguage1.Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ResourceLanguage1.Notes" class="form-control"  rows="3"></textarea>
                <span asp-validation-for="ResourceLanguage1.Notes" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Arabic Notes</label>
            <div class="col-md-10">
                <textarea asp-for="ResourceLanguage2.Notes" class="form-control rtl" rows="3" ></textarea>
                <span asp-validation-for="ResourceLanguage2.Notes" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
