@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Weclome to Urban Refuge Applicaiton</h2>
        <p>
            If you are intrested in downloading the application you can head to [add link to download app here].
        </p>
        <p>Learn more about <a href="http://www.urbanrefuge.org/">Urban Refuge</a>.
        </p>

        <p>If you are an administrator you can login <a asp-area="" asp-controller="Account" asp-action="SignIn">here</a></p>
    </div>
</div>
