<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Urban Refuge</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#if user}}
          <li><a href="/resources/index">Resources</a></li>
          <li><a href="/users/index">Logins</a></li>
          <li><a href="/resources/create">Add Resources</a></li>
          <li><a href="/users/create">Add Login</a></li>
        {{/if}}
      </ul>
      {{#if user}}
      <ul class="nav navbar-nav navbar-right">
        <li><a> Welcome {{user.displayName}}</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      {{else}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
      </ul>
      {{/if}}
    </div>
  </div>
</div>
