<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <h5 *ngIf="resource['name:en']; else nativeName">{{resource['name:en']}}</h5>
  <ng-template #nativeName>
    <h5 *ngIf="resource.name">{{resource.name}}</h5>
  </ng-template>
  <h5 *ngIf="resource['name:ar']" class="right">{{resource['name:ar']}}</h5>
  <ion-grid>
    <ion-row>
      <img class="mainIcon" src="{{getImageURL(resource.img)}}">
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let r of resource.types">
        <img *ngIf="r" class="secondIcons" src="{{getImageURL(r)}}">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list no-lines>
    <ion-item *ngIf="resource['addr:housenumber'] || resource['addr:street'] || resource['addr:district'] || resource['addr:city'] || resource['addr:state'] || resource['addr:postcode']" class="background">
      <ion-icon name="pin" item-left></ion-icon>
      <h6><span *ngIf="resource['addr:housenumber']">{{resource['addr:housenumber']}} </span><span *ngIf="resource['addr:street']">{{resource['addr:street'] }}</span><span *ngIf="resource['addr:district']">, {{resource['addr:district']}}</span><span *ngIf="resource['addr:city']">, {{jsUcfirst(resource['addr:city'])}}</span><span *ngIf="resource['addr:state']">, {{jsUcfirst(resource['addr:state'])}}</span><span *ngIf="resource['addr:postcode']">, {{resource['addr:postcode']}}</span></h6>
    </ion-item>
    <!-- <ion-item *ngIf="resource.ariabicAddress" class="right background">
      <h6>{{resource.ariabicAddress}}</h6>
      <ion-icon name="pin" item-right></ion-icon>
    </ion-item> -->
    <ion-item class="background" *ngIf="resource.phone">
      <ion-icon (click)="call()" color="primary" name="call" item-left></ion-icon>
      <ion-label class="center">{{resource.phone}}</ion-label>
      <ion-icon (click)="text()" color="primary" name="text" item-right></ion-icon>
    </ion-item>
    <ion-item *ngIf="resource.type" class="background">
      <ion-icon name="paper" item-left></ion-icon>
      <h6>{{jsUcfirst(resource.type)}}</h6>
      <h6 *ngIf="resource.fee">Fee: {{resource.fee}}</h6>
      <h6 *ngIf="resource.opening_hours">Hours: {{resource.opening_hours}}</h6>
      <h6 *ngIf="resource.operator">Operator: {{resource.operator}}</h6>
      <h6 *ngIf="resource.wheelchair">Wheelchair: {{resource.wheelchair}}</h6>
      <h6 *ngIf="resource.internet_access">Internet Access: {{resource.internet_access}}</h6>
      <h6 *ngIf="resource.shelter_type">Shelter Type: {{resource.shelter_type}}</h6>
    </ion-item>
    <ion-item *ngIf="resource.website" class="background">
      <ion-icon name="globe" item-left></ion-icon>
      <a href="{{resource.website}}"><h6>{{resource.website}}</h6></a>
    </ion-item>
    <ion-item *ngIf="resource.email" class="background">
      <ion-icon name="mail" item-left></ion-icon>
      <a href="{{resource.website}}"><h6>{{resource.email}}</h6></a>
    </ion-item>
    <!-- <ion-item *ngIf="resource.img" class="right background">
      <h6>{{resource.img}}</h6>
      <ion-icon name="ios-paper-outline" item-right></ion-icon>
    </ion-item> -->
  </ion-list>
</ion-content>
