@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Hello, @User.Claims.FirstOrDefault(x => x.Type == "emails")?.Value</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="LogOff">Log Out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
  
        <li><a asp-area="" asp-controller="Account" asp-action="SignIn">Sign in</a></li>

    </ul>
}